acl-anthology-py==0.4.3
aiofile==3.9.0
aiopath==0.7.7
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
appdirs==1.4.4
app-paths==0.0.7
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
asyncstdlib==3.12.5
async-lru==2.0.4
attrs==23.2.0
audioread==3.0.1
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
blis==1.0.1
Brotli==1.1.0
cachetools==5.5.0
caio==0.9.17
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
comet-ml==3.47.5
comm==0.2.2
confection==0.1.5
configobj==5.0.9
conllu==6.0.0
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.10
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
diskcache==5.6.3
distlib==0.3.9
docker-pycreds==0.4.0
docopt==0.6.2
dulwich==0.22.7
emoji==2.14.0
en_core_web_lg==3.8.0
en_core_web_md==3.8.0
everett==3.1.0
exceptiongroup==1.2.2
executing==2.0.1
fastjsonschema==2.20.0
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.16.1
Flask==3.1.0
fonttools==4.53.1
fqdn==1.5.1
fr_core_news_lg==3.8.0
fr_core_news_md==3.8.0
fsspec==2024.10.0
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
graphviz==0.20.3
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
importlib_metadata==8.2.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
kiwisolver==1.4.7
langcodes==3.5.0
language_data==1.3.0
latexcodec==2.0.1
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
lxml==4.9.4
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.1.0
murmurhash==1.0.11
mutagen==1.47.0
narwhals==1.19.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest_asyncio==1.6.0
networkx==3.4.2
notebook_shim==0.2.4
numba==0.60.0
numpy==2.0.2
omegaconf==2.3.0
opencv-python==4.10.0.84
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pickleshare==0.7.5
pillow==10.4.0
pip==24.3.1
platformdirs==3.11.0
plotly==5.24.1
pooch==1.8.2
preshed==3.0.9
prometheus_client==0.21.0
prompt_toolkit==3.0.47
protobuf==5.28.3
psutil==5.9.0
pure_eval==0.2.3
pyarrow==18.1.0
pycparser==2.22
pycryptodomex==3.21.0
pydantic==2.10.2
pydantic_core==2.27.1
pydeck==0.9.1
pydub==0.25.1
Pygments==2.18.0
pyparsing==3.1.4
python-box==6.1.0
python-dateutil==2.9.0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-slugify==8.0.4
pytz==2024.2
pywin32==305.1
pywinpty==2.0.13
PyYAML==6.0.2
pyzmq==25.1.2
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.2
rnc2rng==2.7.0
rpds-py==0.20.0
rply==0.7.8
scikit-learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentry-sdk==2.19.0
setproctitle==1.3.4
setuptools==75.6.0
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.2
stanza==1.9.2
streamlit==1.41.1
StrEnum==0.4.15
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
terminado==0.18.1
TexSoup==0.3.1
text-unidecode==1.3
thinc==8.3.2
threadpoolctl==3.5.0
tinycss2==1.3.0
toml==0.10.2
torch==2.5.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typer==0.13.1
types-python-dateutil==2.9.0.20240906
typing_extensions==4.12.2
tzdata==2024.1
Unidecode==1.3.8
unpackable==0.0.4
uri-template==1.3.0
urllib3==2.2.3
virtualenv==20.27.1
waitress==3.0.2
wandb==0.18.7
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.8.0
webencodings==0.5.1
websockets==13.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.13
wrapt==1.17.0
wurlitzer==3.1.1
youtube-dl==2021.12.17
yt-dlp==2024.9.27
zipp==3.19.2
ift6758==0.1.0
